:root {
    /** Themed color configuration */
    /* --dark-mode-bgcolor: rgb(35, 39, 47);
    --dark-mode-bgcolor-rgb: 35, 39, 47; */

    --dark-mode-bgcolor: rgb(17, 24, 39);
    --dark-mode-bgcolor-rgb: 17, 24, 39;

    --body-bgcolor-rgb: 245, 247, 251;

    --sidebar-bgcolor: rgb(7, 39, 90);
    --sidebar-bgcolor-rgb: 7, 39, 90;
    --sidebar-color: rgb(223, 223, 223);
    --sidebar-color-rgb: 223, 223, 223;

    --login-color: rgb(155, 38, 31);
    --login-color-rgb: 155, 38, 31;

    --primary-color: rgb(0, 76, 151);
    --primary-color-rgb: 0, 76, 151;
    /* login btn bgcolor ,accordion section header bgcolor,
    filled btn (with hover) bgcolor & outlined hover bgcolor,
    dropdown list hover color, */

    --secondary-color: rgb(255, 184, 28);
    --secondary-color-rgb: 255, 184, 28;
    /* dropdown hover bgcolor */

    --default-color: rgb(255, 255, 255);
    --default-color-rgb: 255, 255, 255;
    /* left Menu text, selected list, footer text,
     dropdown bgcolor ,loginpage & loginbox bgcolor,
     topbar bgcolor*/

    --dark-color: rgb(0, 0, 0);
    --dark-color-rgb: 0, 0, 0;
    /* topbar text color , form label & data color, dropdown color,
    copyrights color, login input TextField color & bgcolor*/

    --disabled-color: rgb(128, 128, 128);
    --disabled-color-rgb: 128, 128, 128;
    /* disabled btn color & bgcolor , subheader color,
    Drawer header color*/

    --sidebar-bgcolor-rgb: 34, 44, 60;
    --sidebar-text-color-rgb: var(--default-color-rgb);
    /* sidebar background color */

    /** Standard color configuration */
    --info-color: rgb(85, 162, 250);
    --warning-color: rgb(255, 204, 0);
    --error-color: rgba(245, 22, 22, 0.692);
    --success-color: rgb(46, 199, 110);
    --stroke-color: rgb(255, 255, 255);

    /** Themed color configuration ends*/
}