@reference "tailwindcss";

body[theme='dark'] {
    --status-blue-color: rgb(138, 180, 220);
    --status-blue-color-rgb: 19, 77, 134;
    --status-org-color: rgb(255, 183, 102);
    --status-org-color-rgb: 255, 183, 102;
    --status-grn-color: rgb(144, 238, 144);
    --status-grn-color-rgb: 144, 238, 144;
    --status-red-color: rgb(255, 135, 135);
    --status-red-color-rgb: 255, 135, 135;
    --status-pink-color: rgb(255, 163, 255);
    --status-pink-color-rgb: 255, 163, 255;
    --status-lred-color: rgb(163, 122, 255);
    --status-lred-color-rgb: 163, 122, 255;
    background-color: rgb(17, 24, 39) !important;
    color: var(--secondary-text-color);

    /* -- Mantine Lib-- */

    /* .mantine-Tabs-tab {
        border-radius: 50px 0 0 50px;
        transition: all 0.3s ease-in-out;
        color: rgba(var(--default-color-rgb), 0.65);
    } */

    [dir="rtl"] .takt-layout .mantine-Tabs-tab[data-active] {
        border-left-color: var(--dark-mode-bgcolor) !important;
    }

    /* chart style */

    .apexcharts-gridline {
        stroke: rgba(128, 128, 128, 0.099) !important;
    }

    .apexcharts-xaxis line,
    .apexcharts-yaxis line {
        stroke: rgba(128, 128, 128, 0.099) !important;
    }


    table {
        /* background-color: black !important; */
        background-color: #0000002e !important;
    }

    .fixed-buttons {
        border-color: var(--border-color);
    }

    .mantine-Pagination-control {
        color: rgba(var(--default-color-rgb), 0.85) !important;
        background-color: unset !important;
    }

    .mantine-Pagination-control:hover {
        background-color: rgba(var(--default-color-rgb), 0.15) !important;
    }

    .mantine-Pagination-control:where([data-active]),
    .mantine-Pagination-control:where([data-active]):hover {
        background-color: rgba(var(--default-color-rgb), 0.8) !important;
        color: rgba(var(--dark-bgcolor-rgb), 1) !important;
        border-color: var(--border-color) !important;
    }

    .text-view-value-filled,
    .mantine-Input-input[data-variant="filled"] {
        background-color: rgba(var(--default-bgcolor-rgb), 0.075);
        color: rgba(var(--default-bgcolor-rgb), .85);
    }

    .mantine-Tabs-tab:hover {
        color: rgba(var(--default-color-rgb), 1);
        background-color: #111826;
    }

    .takt-layout .mantine-Tabs-list::before {
        border-color: rgba(var(--default-color-rgb), 0.15);
    }

    .takt-layout .mantine-Tabs-tab[data-active] {
        border-color: rgba(var(--default-color-rgb), 0.15);
        border-right-color: var(--dark-mode-bgcolor);
        color: rgba(var(--default-color-rgb), 1);
    }

    .mantine-Popover-dropdown,
    .mantine-Modal-content,
    .mantine-Modal-header,
    .mantine-Drawer-content,
    .mantine-Drawer-header {
        background-color: var(--dark-mode-bgcolor);
        border-color: rgba(var(--default-color-rgb), 0.25);
    }

    .acl-tab-page .tab-view .mantine-Tabs-tab:where([data-active]) {
        background-color: var(--dark-mode-bgcolor);
        color: rgba(var(--default-bgcolor-rgb), 1) !important;
        font-weight: 600;
        border-bottom: 1px solid rgba(var(--default-bgcolor-rgb), 0.5);
        /* border-radius: 10px !important; */
    }

    .mantine-Modal-close {
        color: rgba(var(--default-bgcolor-rgb), 0.75);
    }

    .mantine-Modal-close:hover {
        background-color: rgba(var(--default-bgcolor-rgb), 0.12);
        color: rgba(var(--default-bgcolor-rgb), 0.9);
    }

    /* Table Design  */
    .py-data-grid-table {
        background-color: var(--dark-bgcolor-rgb);
    }

    /* -- Mantine Lib End-- */

    /* -- Mantine Form Input -- */
    .text-view-value-filled {
        background-color: rgba(var(--default-bgcolor-rgb), 0.075);
        color: rgba(var(--default-bgcolor-rgb), 0.85);
    }

    .mantine-Input-wrapper {
        --input-bd: rgba(var(--default-bgcolor-rgb), 0.25) !important;
        --input-bg: rgba(var(--default-bgcolor-rgb), 0.025) !important;
    }

    .login-form .mantine-Input-wrapper {
        --input-bd: rgba(var(--dark-bgcolor-rgb), 0.2) !important;
        --input-bg: rgba(var(--default-bgcolor-rgb), 1) !important;
    }

    .login-form .mantine-TextInput-root,
    .login-form .mantine-InputWrapper-label,
    .login-form .mantine-Input-input {
        color: black !important;
    }

    .mantine-Select-option:hover,
    .mantine-Autocomplete-option:hover {
        background-color: rgba(var(--default-color-rgb), 0.05) !important;
    }

    .mantine-Input-input {
        color: rgba(var(--default-bgcolor-rgb), 1) !important;
        border-color: var(--color-slate-600);
        background-color: rgb(15, 23, 42);
    }

    .custom-scrollbar {
        scrollbar-width: thin !important;
        scrollbar-color: var(--color-slate-600) var(--color-gray-800) !important;
    }

    .py-form-field-label {
        color: rgba(var(--default-bgcolor-rgb), 0.5);
    }

    .error-notify {
        background-color: rgb(26, 27, 30);
        color: rgb(255, 255, 255);
        border-color: rgb(44, 46, 51);
    }

    .mantine-DatePickerInput-day[data-weekend="true"] {
        color: #fa5252;
    }

    .apexcharts-text {
        fill: rgba(var(--default-bgcolor-rgb), 0.5) !important;
    }

    .mantine-DatePickerInput-day {
        color: white;
    }

    .mantine-DatePickerInput-monthsListControl {
        color: rgba(var(--default-bgcolor-rgb), 0.7);
    }

    .mantine-DatePickerInput-monthsListControl:hover {
        background-color: rgba(var(--default-bgcolor-rgb), 0.15);
        color: rgba(var(--default-bgcolor-rgb), 0.95);
    }

    .mantine-DatePickerInput-day:hover {
        color: black;
    }

    .mantine-DatePickerInput-calendarHeaderControl:hover,
    .mantine-DatePickerInput-calendarHeaderLevel:hover {
        color: rgba(var(--default-bgcolor-rgb), 0.95);
        background-color: rgba(var(--default-bgcolor-rgb), 0.15);
    }

    .file-remove-icon {
        color: rgba(var(--default-bgcolor-rgb), 0.4);
    }

    /* -- Mantine Form Input End -- */

    .dark-mode-toggle-icon:hover {
        background-color: rgba(var(--primary-bgcolor-rgb), 0.1);
    }

    .tab-layout-container .user-form-container pre {
        background-color: rgba(var(--primary-bgcolor-rgb), 0.009) !important;
    }

    .tab-layout-container .user-form-container {
        background-color: rgba(var(--primary-bgcolor-rgb), 0.025) !important;
    }

    .tab-container {
        border: 1px solid rgba(var(--disable-text-color-rgb), 0.2);
    }

    .tab-layout-container .user-form-container {
        border-top: 1px solid rgba(var(--disable-text-color-rgb), 0.2);
    }

    .sidebar-footer {
        border-right-color: var(--border-color);
    }

    .py-filter-button-container {
        background-color: #111826;
    }

    /* --Grid Style -- */
    .mantine-Table-tbody {
        background-color: #111826 !important;
    }

    .py-grid-header tr td {
        background-color: rgb(17, 28, 49) !important;
    }

    .header-content-text {
        color: rgba(var(--default-color-rgb), 0.85);
    }

    .py-grid-header-row {
        /* background-color: var(--dark-mode-bgcolor) !important; */
        border-bottom: 0.5px solid rgba(var(--default-bgcolor-rgb), 0.5);
    }

    .py-baseGrid-header-sort-icon {
        color: rgba(var(--secondary-text-color-rgb), 0.5);
    }

    .py-dropdown-content {
        background-color: var(--dark-mode-bgcolor);
        color: rgba(var(--secondary-text-color-rgb), 0.65);
    }

    .grid-container,
    .container {
        @apply dark:bg-gray-900;
    }

    .py-grid-data-row,
    .py-grid-header-row {
        border-color: #696a6c25 !important;
    }

    .py-baseGrid-header-cell,
    .py-grid-data-cell {
        color: rgba(var(--secondary-text-color-rgb), 0.65);
        border-color: #696a6c25 !important;
        background-color: #0e1524f0 !important;
    }

    .py-dropdown-button {
        background-color: transparent !important;
        color: var(--secondary-text-color) !important;
    }

    .py-form-field-data,
    .button-icon {
        color: var(--secondary-text-color) !important;
    }

    .py-dialog-header-right-container {
        background-color: var(--cancel-btn-color) !important;
        color: var(--cancel-button-color) !important;
    }

    .py-cancel-filled-button {
        background-color: #1f2937 !important;
        color: #d1d5db !important;
        border-color: #374151 !important;
    }

    .py-cancel-filled-button:hover {
        background-color: #374151 !important;
    }

    .py-dialog-header-right-container .py-header-close-icon {
        color: var(--cancel-btn-color) !important;
    }

    .py-selectable-pagination-left-content-container {
        color: rgba(var(--secondary-text-color-rgb), 0.65);
    }

    .mantine-Pagination-control {
        color: rgba(var(--default-color-rgb), 0.85) !important;
        background-color: unset !important;
    }

    .mantine-Pagination-control:hover {
        background-color: rgba(var(--default-color-rgb), 0.15) !important;
    }

    .mantine-Pagination-control:where([data-active]),
    .mantine-Pagination-control:where([data-active]):hover {
        background-color: rgba(var(--default-color-rgb), 0.8) !important;
        color: rgba(var(--dark-bgcolor-rgb), 1) !important;
        border-color: var(--border-color) !important;
    }

    /* -- Grid style End-- */

    /* -- Button style -- */

    .disabled-button,
    .py-disabled-button {
        background-color: rgba(var(--default-color-rgb), 0.2) !important;
        color: rgba(var(--default-color-rgb), 0.65) !important;
    }

    .outlined-button {
        border: 1px solid rgba(var(--default-color-rgb), 1) !important;
        background-color: rgba(var(--default-color-rgb), 0.85) !important;
        color: rgba(var(--primary-color-rgb), 1) !important;
    }

    .outlined-button .button-icon {
        color: rgba(var(--primary-color-rgb), 1) !important;
    }

    .light-button {
        background-color: rgba(var(--default-color-rgb), 0.15) !important;
        color: rgba(var(--default-color-rgb), 0.85) !important;
    }

    /* -- Button style End-- */


    /* -- general application Style -- */

    /* -- accordion -- */
    .mantine-Accordion-item {
        border-color: rgba(var(--dark-bgcolor-rgb), 0.7) !important;
    }

    .mantine-Accordion-control {
        color: rgba(var(--default-bgcolor-rgb), 0.85);
        background-color: var(--dark-mode-bgcolor) !important;
    }

    .tender-accor-header .label {
        color: rgba(var(--default-bgcolor-rgb), 0.65) !important;
    }

    .mantine-Accordion-item:where([data-active='true']) .mantine-Accordion-control {
        background-color: rgba(var(--dark-bgcolor-rgb), 0.057) !important;
    }

    .mantine-Accordion-item:where([data-active="true"]) .mantine-Accordion-content {
        background-color: var(--dark-mode-bgcolor) !important;
    }

    /* -- accordion End-- */

    /* -- card layout -- */
    .card-section {
        background-color: unset;
    }

    .card-field .field-label {
        color: rgba(var(--default-bgcolor-rgb), 0.5);
    }

    .card-field .field-data {
        background-color: rgba(var(--default-bgcolor-rgb), 0.075);
        color: rgba(var(--default-bgcolor-rgb), 0.85);
    }

    /* -- card layout End-- */

    /* -- dashboard & chart -- */
    .dash-cards {
        /* background-color: unset; */
        background-color: #111826;
        /* opacity: 0.9; */
    }

    .apexcharts-legend-text,
    .apexcharts-title-text,
    .header-content-text,
    .apexcharts-text title,
    .apexcharts-text tspan {
        color: rgba(var(--default-bgcolor-rgb), 0.6) !important;
        fill: rgba(var(--default-bgcolor-rgb), 0.6) !important;
    }

    .apexcharts-menu,
    .apexcharts-tooltip,
    .apexcharts-tooltip-title,
    .dropzone {
        background-color: var(--dark-mode-bgcolor) !important;
        border-color: rgba(var(--default-bgcolor-rgb), 0.2) !important;
    }

    /* -- dashboard & chart End-- */

    .form-header-text {
        color: rgba(var(--default-bgcolor-rgb), 0.85);
    }

    .file-text,
    .dropzone svg {
        color: rgba(var(--default-bgcolor-rgb), 0.5) !important;
    }

    .grid-action-icon {
        color: rgba(var(--default-bgcolor-rgb), 0.5);
    }

    .api-label-field .operation-name-text,
    .dialog-data-content-field-label,
    .mantine-InputWrapper-label,
    .text-view-label,
    .submenu-item {
        color: rgba(var(--default-bgcolor-rgb), 0.8);
    }

    .api-label-field .operation-code-text,
    .dialog-data-content-field-data {
        color: rgba(var(--default-bgcolor-rgb), 0.65);
    }

    .parent-list {
        box-shadow: rgba(var(--default-bgcolor-rgb), 0.1) 0 0 5px, rgba(var(--default-bgcolor-rgb), 0.1) 0 0 1px;
    }

    .acl-editor-btn-container {
        background-color: rgb(46, 50, 59);
    }

    .dialog-data-content-field {
        background-color: unset;
    }

    .download-btn,
    .submenu-item.active {
        color: rgba(var(--default-bgcolor-rgb), 1);
    }

    .chat-x-main,
    .chat-body,
    .chat-x-container,
    .fixed-bottom-input {
        background-color: var(--dark-mode-bgcolor) !important;
    }

    .bot-message {
        background-color: rgba(var(--dark-bgcolor-rgb), 0.25);
    }

    .error-404,
    .error-404-text {
        color: rgba(var(--default-bgcolor-rgb), 0.5);
    }

    .file-upd-card {
        border: 1px solid rgba(var(--default-color-rgb), 0.15);
    }

    .file-icon-container svg {
        fill: rgba(var(--default-bgcolor-rgb), 0.35);
    }

    .file-table-header,
    .file-table-row:hover {
        color: rgba(var(--default-bgcolor-rgb), 0.65);
        background-color: rgb(48, 54, 65);
    }

    .file-table-row {
        color: rgba(var(--default-bgcolor-rgb), 0.65);
        border-bottom-color: rgba(var(--default-bgcolor-rgb), 0.15);
    }

    .download-icon,
    .file-card-upd-content-bottom .file-date-data {
        color: rgba(var(--default-bgcolor-rgb), 0.5);
    }

    /* -- general application Style End-- */

    /* chart download icon */

    .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
        fill: #d3d3d3 !important;
    }

    .apexcharts-theme-light .apexcharts-menu-item:hover {
        background-color: gray;
    }

    /* sidebar style */
    .sidebar-footer {
        border-right-color: var(--border-color);
    }

    .async-tree-menu-list {
        color: white !important;
    }

    /* topbar style */

    .topbar {
        background-color: var(--color-gray-900) !important;
        color: white !important;
        opacity: 0.8;
    }

    /* custom scrollbar */



}